@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap");
:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "PT Sans", sans-serif;
  --third-family: "Potta One", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.btnCommon {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background: #fc0;
  border-radius: 12px;
  width: 180px;
  padding: 16px 0;
  justify-content: center;
  text-align: center;
}

/* navbar start */
nav .toggleBtn {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #353535;
  color: #353535;
  background: transparent;
}

#myMenu ul li a {
  padding: 0 18px;
  font-weight: 500;
  line-height: 200%;
  font-size: 15px;
}

#myMenu ul li a.active,
#myMenu ul li a:hover {
  border-bottom: 2px solid #353535;
}

/* banner start */
#banner {
  padding: 60px 0;
}

#banner .bannerText h6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #353535;
}
#banner .bannerText h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 64px;
  color: #353535;
}
#banner .bannerText p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  color: #353535;
}

.secBtn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #353535;
  border: 1px solid #000;
  border-radius: 20px;
  width: 209px;
  padding: 16px 0;
  justify-content: center;
  text-align: center;
}
.fbIcn {
  border-radius: 100%;
  fill: #f4f3f3;
}

/* about section */
#aboutMe {
  position: relative;
  background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
  overflow: hidden;
  margin-bottom: 60px;
}

#aboutMe::before {
  content: "";
  position: absolute;
  right: 150px;
  bottom: -120px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    #52ab70 0%,
    rgba(82, 171, 112, 0.48) 100%
  );
  z-index: 0;
}

.bannerText h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  color: #353535;
}

.bannerText p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 190%;
  color: #353535;
  width: 570px;
  margin-bottom: 40px;
}
.seeBtn {
  border: 1px solid #000;
  border-radius: 20px;
  width: 171px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: #353535;
  padding: 14px;
}

#idea{
  padding-bottom: 60px ;
}
.box-1 {
  text-align: center;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  border-radius: 20px;
  padding: 20px 25px;
}
.box-1 img {
  width: 80px;
  height: 80px;
  margin-bottom: 25px;
}

.box-1 h5 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 180%;
  text-align: center;
  color: #353535;
}
.box-1 p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  text-align: center;
  color: #7a7a7a;
}
