@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap");
:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "PT Sans", sans-serif;
  --third-family: "Potta One", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.btnCommon {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #fc0;
  border-radius: 12px;
  width: 180px;
  padding: 16px 0;
  justify-content: center;
  text-align: center;
}

/* navbar start */
nav .toggleBtn {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #353535;
  color: #353535;
  background: transparent;
}

#myMenu ul li a {
  padding: 0 18px;
  font-weight: 500;
  line-height: 200%;
  font-size: 15px;
}

#myMenu ul li a.active,
#myMenu ul li a:hover {
  border-bottom: 2px solid #353535;
}

/* banner start */
#banner {
  padding: 60px 0;
}

#banner .bannerText h6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #353535;
}
#banner .bannerText h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 64px;
  color: #353535;
}
#banner .bannerText p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  color: #353535;
}

.secBtn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #353535;
  border: 1px solid #000;
  border-radius: 20px;
  width: 209px;
  padding: 16px 0;
  justify-content: center;
  text-align: center;
}
.fbIcn {
  border-radius: 100%;
  fill: #f4f3f3;
}

/* about section */
#aboutMe {
  background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
  margin-bottom: 60px;
}
#aboutMe .container {
  position: relative;
  overflow: hidden;
}
#aboutMe .container::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -120px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    #52ab70 0%,
    rgba(82, 171, 112, 0.48) 100%
  );
  z-index: 0;
}

.bannerText h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  color: #353535;
}

.bannerText p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 190%;
  color: #353535;
  margin-bottom: 40px;
}
.seeBtn {
  border: 1px solid #000;
  border-radius: 20px;
  width: 171px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: #353535;
  padding: 14px;
}

#idea {
  padding-bottom: 60px;
}
.box-1 {
  text-align: center;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  border-radius: 20px;
  padding: 20px 25px;
}
.box-1 img {
  width: 80px;
  height: 80px;
  margin-bottom: 25px;
}

.box-1 h5 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 180%;
  text-align: center;
  color: #353535;
}
.box-1 p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  text-align: center;
  color: #7a7a7a;
}

/* Branding section start */
#branding .container {
  position: relative;
  border-radius: 30px;
  background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
  margin-bottom: 60px;
}

#branding .topShape img {
  position: absolute;
  top: -25px;
  right: 30px;
}
.brandText h5 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 44px;
  color: #353535;
}
.brandText p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 190%;
  color: #353535;
  margin-bottom: 40px;
}

#branding .seeProject {
  position: relative;
}

#branding .seeProject .lineShape {
  position: absolute;
  top: -50px;
  left: 150px;
}

/* Help section start  */
#help {
  padding-bottom: 60px;
}
.helpCard {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
}
.helpCard h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 180%;
  color: #353535;
}
.helpCard p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 180%;
  color: #353535;
}
.helpTxt h3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  color: #353535;
}
.helpTxt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 190%;
  color: #353535;
}

.client h4 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  text-align: right;
  color: #353535;
}
.client p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  color: #353535;
}
/* Experience section start  */
#experience {
  padding-bottom: 60px;
}
.experienceTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #353535;
  margin-bottom: 70px;
}

.timeline-container h5 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 180%;
  color: #353535;
}

.timeline-container p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: #7a7a7a;
}
.timeline-container .work p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #7a7a7a;
}

.timeline-container .date {
  border-right: 2px dashed #7a7a7a;
  padding-bottom: 140px;
  position: relative;
}

.timeline-container .date::before {
  content: "";
  border: 2px dashed #7a7a7a;
  border-radius: 100%;
  position: absolute;
  width: 42px;
  height: 42px;
  right: -21px;
  top: -21px;
  background-color: white;
}

.timeline-container .date::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #52ab70;
  border-radius: 100%;
  right: -10px;
  top: -10px;
}

.timeline-container .date.red::after {
  background: #f17676;
}
.timeline-container .date.yellow::after {
  background: #ffd233;
}

/* Expert section start */
#expert {
  padding-bottom: 60px;
}

.expertTxt h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  color: #353535;
  margin-bottom: 22px;
}

.expertTxt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #7a7a7a;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  border-radius: 20px;
  padding: 20px 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #353535;
}

.nav-tabs .nav-link.active {
  background-color: #fff;
  border: 1px solid #000;
}

.progress {
  height: 6px;
  border-radius: 10px;
  background: #e6e6e6;
}

.progress-bar {
  border-radius: 10px;
}
.progress {
  margin-bottom: 20px;
}
.skill p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 180%;
  color: #353535;
}
.skill span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: right;
}
.skill .orange {
  color: #f16500;
}
.skill .darkBlue {
  color: #03249b;
}
.skill .purple {
  color: #700d60;
}
.skill .blue {
  color: #234bda;
}
.skill-label {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 15px;
  margin-bottom: 5px;
}

.tab-content {
  margin-top: 20px;
  min-height: 300px;
}

.education li strong {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 180%;
  color: #353535;
}
.education li {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
}
/* Sevices section start */
#service {
  padding: 70px;
  background: #fff7d5;
}
#service .container h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #353535;
}

#service .container p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
  color: #7a7a7a;
}

.service-card {
  margin-top: 80px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
}
.service-card.highlight {
  border-radius: 12px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
  background: linear-gradient(151deg, #fc0 0%, #ffe476 98.84%);
  padding: 35px 20px;
  margin-top: 30px;
  transform: translateY(10px);
  transition: all 0.3s ease;
}
.service-card img {
  padding-bottom: 20px;
}
.service-card h5 {
  padding-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 180%;
  text-align: center;
  color: #353535;
}
.service-card p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  text-align: center;
  color: #7a7a7a;
}
.service-card.highlight p {
  font-weight: 500;
}
/* Feedback section start */
#feedback {
  padding: 60px 0;
  margin-bottom: 60px;
  background: #fbfbfb;
}

.feedback-title h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 135%;
  color: #353535;
}
.feedback-title p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #7a7a7a;
}
.feedbackCard {
  padding-top: 60px;
}
.feedback-text p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #7a7a7a;
}
.feedback-text h5 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  color: #353535;
}
.feedbackGroup {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #7a7a7a;
}
/* Blog section start */
#blog {
  padding-bottom: 60px;
}
#blog .container h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 135%;
  color: #353535;
  margin-bottom: 70px;
}
.blog-card {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 40px;
}
.blog-content {
  flex: 1;
}

.blog-meta {
  font-size: 0.85rem;
  color: #777;
  display: flex;
  justify-content: space-between;
}

.blog-meta {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 190%;
  color: #7a7a7a;
}
.blog-meta span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 190%;
  color: #353535;
}
.blog-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 190%;
  color: #353535;
  margin-bottom: 35px;
}

.read-more {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 190%;
  color: #353535;
}
